@model List<Student>

<table class="table table-bordered table-hover">
@foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <img src="/Images/@item.ImageURL"  style="width:80px"/>
            </td>
        </tr>
    }   
</table>
