@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<partial name="_EmpCard" />


<a href="/Employee/Index">BAck To List</a>
<a href="/Employee/ConfirmDelte/@Model.Id">Confirm Delete</a>

